.outer-frame {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.inner-frame {
  position: relative;
  border: black 1px solid;
  height: 512px;
  width: 512px;
}
.inner-frame>img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.frame>.label {
  text-align: center;
  vertical-align: top;
}
